<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
      <div class="header-body">
        <div class="row">
          <div class="col-md-2 col-sm-6">
            <div class="card card-stats mb-4 mb-xl-0">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-uppercase text-blue mb-0">Containers</h5>
                    <span class="h2 font-weight-bold mb-0">1</span>
                  </div>
                  <div class="col-auto">
                    <div class="icon icon-shape bg-blue-back text-white rounded-circle shadow">
                      <i class="ni ni-ungroup"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-2 col-sm-6">
            <div class="card card-stats mb-4 mb-xl-0">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-uppercase text-blue mb-0">Sandboxes</h5>
                    <span class="h2 font-weight-bold mb-0">1</span>
                  </div>
                  <div class="col-auto">
                    <div class="icon icon-shape bg-blue-back text-white rounded-circle shadow">
                      <i class="ni ni-box-2"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-2 col-sm-6">
            <div class="card card-stats mb-4 mb-xl-0">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-uppercase text-blue mb-0">Images</h5>
                    <span class="h2 font-weight-bold mb-0">1</span>
                  </div>
                  <div class="col-auto">
                    <div class="icon icon-shape bg-blue-back text-white rounded-circle shadow">
                      <i class="ni ni-image"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-2 col-sm-6">
            <div class="card card-stats mb-4 mb-xl-0">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-uppercase text-blue mb-0">Volumes</h5>
                    <span class="h2 font-weight-bold mb-0">1</span>
                  </div>
                  <div class="col-auto">
                    <div class="icon icon-shape bg-blue-back text-white rounded-circle shadow">
                      <i class="ni ni-app"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-2 col-sm-6">
              <div class="card card-stats mb-4 mb-xl-0">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-blue mb-0">Users</h5>
                      <span class="h2 font-weight-bold mb-0">1</span>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-blue-back text-white rounded-circle shadow">
                        <i class="ni ni-single-02"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
<div class="container-fluid mt--5">
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0 flex-table">
          <div class="flex-buttons-title">
            <h3 class="mb-0 mr-5">Containers</h3>
            <i class="material-icons click-icon-play" matTooltip="Start"> play_arrow </i>
            <i class="material-icons click-icon-stop" matTooltip="Stop"> stop </i>
            <i class="material-icons click-icon-replay" matTooltip="Resume"> replay </i>
            <i class="material-icons click-icon-pause" matTooltip="Pause"> pause </i>
            <i class="material-icons click-icon-restart" matTooltip="Restart"> skip_next </i>
          </div>
          <div class="flex-buttons">
            <button class="btn btn-style" data-toggle="modal" data-target="#addContainer"> <i
                class="material-icons click-icon-add"> add </i>
              <p style="margin-top: 15px;">container</p>
            </button>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th><mat-checkbox>check all</mat-checkbox></th>
                <th scope="col">Name</th>
                <th scope="col">State</th>
                <th scope="col">Quick action</th>
                <th scope="col">Image</th>
                <th scope="col">Up Time</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                  <td><mat-checkbox></mat-checkbox></td>

                <th scope="row">
                  <div class="media align-items-center">
                    <div class="media-body">
                      <span class="mb-0 text-sm">Container</span>
                    </div>
                  </div>
                </th>
                <td>
                  <span class="badge badge-dot mr-4 text-blue">
                    <i class="bg-primary"></i> Running
                  </span>
                </td>
                <td>
                  <div class="actions">
                    <a href="javascript:void(0)">
                      <i matTooltip="logs" class="ni ni-single-copy-04 text-primary icon pt-3"></i>
                    </a>
                    <a href="javascript:void(0)">
                      <i matTooltip="stats" class="ni ni-chart-pie-35 text-red icon pt-3"></i>
                    </a>
                    <a href="javascript:void(0)">
                      <i matTooltip="Info" class="ni ni-air-baloon text-green icon pt-3"></i>
                    </a>
                  </div>
                </td>
                <td>
                  Apache 2.2.2
                </td>
                <td>
                  <div class="d-flex align-items-center">
                    <span class="mr-2">5 minutes</span>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal" id="addContainer">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Deploy Container</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <form [formGroup]="containerForm">
          <div class="row">
            <div class="col-md-12 form-group">

              <mat-form-field appearance="outline" class="input-full">
                <mat-label>Name container</mat-label>
                <input formControlName="name" matInput placeholder="Name container">
                <mat-error *ngIf="containerForm.hasError('required', 'name')">Name of the container is <b>required</b>
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-12">
              Image Configuration
              <hr>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6  form-group">
              <mat-form-field appearance="outline" class="input-full">
                <mat-label>Image</mat-label>

                <input formControlName="image" matInput placeholder="Image">
                <mat-error *ngIf="containerForm.hasError('required', 'image')">Image is <b>required</b></mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-6  form-group">
              <mat-form-field appearance="outline" class="input-full">
                <mat-label>Registry</mat-label>
                <mat-select (selectionChange)="setValue($event.value)">
                  <mat-option value="Docker Hub">Docker Hub</mat-option>
                </mat-select>
                <mat-error *ngIf="containerForm.hasError('required', 'registry')">Registry is <b>required</b>
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-12">
              Port Configuration
              <hr>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12" style="display: flex;align-content: center;">
              <p class="mr-2"> Port Mapping </p><i (click)="addPort()" class="material-icons add-button text-blue">
                add_circle_outline </i>
            </div>
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-5 border-style" formArrayName="portMapping"
                  *ngFor="let port of containerForm.controls['portMapping']['controls']; let i = index; ">
                  <div [formGroupName]="i">
                    <div class="row style-ports">
                      <div class="col-md-5">
                        <mat-form-field appearance="outline" class="input-full">
                          <mat-label>Port In</mat-label>
                          <input formControlName="portIn" class="example-right-align" type="number" min="0" matInput
                            placeholder="Port In">
                          <mat-error *ngIf="port.hasError('required', 'portIn')">Port In is <b>required</b></mat-error>
                          <mat-error *ngIf="port.hasError('min', 'portIn') && !port.hasError('required', 'portIn')">Port In min is <b>0</b></mat-error>
                        </mat-form-field>
                      </div>
                      <div class="col-md-5 second-port">
                        <mat-form-field appearance="outline" class="input-full">
                          <mat-label>Port Out</mat-label>
                          <input formControlName="portOut" class="example-right-align" type="number" matInput
                            placeholder="Port Out">
                          <mat-error *ngIf="port.hasError('required', 'portOut')">Port Out is <b>required</b>
                          </mat-error>
                          <mat-error *ngIf="port.hasError('min', 'portOut') && !port.hasError('required', 'portOut')">Port Out min is <b>0</b>
                          </mat-error>
                        </mat-form-field>
                      </div>
                      <div class="col-md-1">
                          <i (click)="deletePort(i)" class="material-icons delete-button text-blue"> remove_circle_outline </i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </form>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" [disabled]="!containerForm.valid">Deploy container</button>
      </div>

    </div>
  </div>
</div>
